body {
  background: rgb(0, 106, 255);
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px red solid;  
  /* height: 200px; */
  width: 400px;
}

.hair {
  height:50px;
  border: 1px green solid;
  display: flex;
  width: 100%;
}

.ears {
  display: flex;
  width:100%; 
  border: 1px red solid;
  justify-content: space-between;
}

.ear {
  height: 200px;
  width: 200px;
  background: darkgrey;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inner-ear {
  height: 75%;
  width: 75%;
  background: lightgrey;
  border-radius: 100%;
}

.face {
  height: 300px;
  display: flex;
  width: 300px;
  background: darkgrey;
  z-index: 1;
  position: relative;
  border-radius: 100%;
  top: -210px;
}