body {
  background: rgb(0, 106, 255);
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
}

.hair {
  height:50px;
  display: flex;
  width: 100%;
  justify-content: center;
  width: 30%;
  justify-content: space-evenly;
}

.left-hair {
  border-left: 9px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 30px solid darkgrey;
}
.right-hair {
  border-left: 14px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 40px solid darkgrey;
}

.ears {
  display: flex;
  width:100%; 
  justify-content: space-between;
}

.ear {
  height: 200px;
  width: 200px;
  background: darkgrey;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inner-ear {
  height: 75%;
  width: 75%;
  background: lightgrey;
  border-radius: 100%;
}

.head {
  height: 300px;
  display: flex;
  width: 300px;
  background: darkgrey;
  z-index: 1;
  position: relative;
  border-radius: 100%;
  top: -210px;
  align-items: center;
  justify-content: flex-end;
  flex-direction: column;
}

.face{ 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.eyes {
  display: flex;
  justify-content: center;
}

.eye{
  background: white;
  border-radius: 100%;
  height: 100px;
  width: 100px;
  margin: -10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.inner-eye {
  height: 30px;
  width: 30px;
  background: black;
  border-radius: 100%;
}

.nose {
  /* background: brown; */
  display: flex;
  flex-direction: column;
  background: burlywood;
  height: 110px;
  width: 70px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  border-top-right-radius: 50px;
  border-top-left-radius: 50px;
  position: relative;
  top: -30px;
}